/*
 * Cog - Responsive Creative Flat Landing Page - V.1.0
 * Author: Shy Design
 * Author URL: wrapbootstrap/user/shydesign
 * All Right Reserved
 * Credits:
 * * http://twitter.github.com/bootstrap/
 * * http://fortawesome.github.com/Font-Awesome/
 *
 */

 @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
 
body {
  font-family: lato;
  font-weight: 300;
  color: rgb(124, 124, 124);
}

a {
  color: rgb(94, 94, 94);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

a:hover {
  color: rgb(255, 13, 13);
}

/*************************************************************
                             layout
**************************************************************/
#header, #details, #download, #testimonials, #contact, #footer{
  min-height: 20px;
  padding: 20px 0;
}
 
 
/*************************************************************
                             header
**************************************************************/
.site-header {
  background: rgb(247, 247, 247);
}
.site-title {
  font-weight: 400;
}
.site-title a:hover {
  text-decoration: none;
}
/* Top menu */
.top-menu {
  margin-top: 20px;
}

/* site-description */
.site-description {
  margin: 35px 0;
  text-align: center;
}
.site-description h2 {
  font-weight: 300;
  font-size: 40px;
}
.site-description p {
  font-size: 20px;
  line-height: 1.4em;
  color: rgb(180, 180, 180);
}

/*************************************************************
                        section#details
**************************************************************/
.details {
  /*background: rgb(0, 209, 218);*/
  background: rgb(110, 133, 134);
  color: #fff;
  padding: 70px 0 50px !important;
}
.details .container {
  max-width: 900px;
}
.detail {
  margin-top: 45px;
}
.detail div {
  margin-top: 30px;
}
.detail p {
  font-size: 17px;
  line-height: 1.4em;
  font-weight: 400;
  color: rgb(240, 240, 240);
}
.detail i {
  color: #fff;
  line-height: 1.4em;
}
.iphone {
  background-image: url(../img/iphone-light.png), url(../img/iphone.png);
  width: 254px;
  height: 514px;
  margin: 0 auto;
  position: relative;
}
.slider {
  width: 215px;
  margin: 65px 20px 0;
  height: 380px;
  position: absolute;
  background: rgb(15, 15, 15);
}
.carousel-indicators {
  bottom: 15px;
  top: auto;
}
.purchase-button {
  margin: 50px 0;
  text-align: center;
}
.cog-button {
  color: #fff;
  font-size: 20px;
  padding: 20px 50px;
  font-weight: 300;
   background: rgb(54, 54, 54);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cog-button i {
  margin-right: 10px;
}
.cog-button:hover {
  text-decoration: none;
}

/*************************************************************
                        section#testimonials
**************************************************************/
.testimonials {
  background:;
  padding: 70px 0  60px !important;
}
blockquote {
  font-style: italic;
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 0px solid rgb(238, 238, 238);
}
blockquote > div {
  text-align: center;
}
blockquote p {
  margin-top: 30px;
}
blockquote small {
 line-height: 3.5em;
}
.testimonials i {
  display: inline-block;
  color: #fff;
  border-radius: 100px;
  padding: 20px 22px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAInT578zwjjgzjm5uaMYAEYB8RmROaABAD2Mw9fuRdIeAAAAABJRU5ErkJggg==) repeat;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
blockquote:hover i {
  color: rgb(255, 125, 100);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
}

/*************************************************************
                        section#contact
**************************************************************/
.contact {
  background: rgb(243, 243, 243);
  padding: 30px 0 !important;
  text-align: center;
}
.contact .container {
  max-width: 500px;
}
.contact h2 {
  font-weight: 400;
}
.social {
  margin-top: 15px;
}
.social li a {
  border: 1px solid rgb(80, 80, 80);
  border-radius: 100px;
  font-size: 12px;
  padding: 2px;
}
.social li a:hover{
  border: 1px solid rgb(180, 180, 180);
  text-decoration: none;
}

/*************************************************************
                        #footer
**************************************************************/
.footer {
  padding: 0px 0 !important;
}
.footer-title {
  font-size: 20px;
}
.footer-title a:hover {
  text-decoration: none;
}
.footer-menu {
  margin-top: 22px;
  font-size: 12px;
}

/*************************************************************
                        responsive fix
**************************************************************/
/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .span6 {
    margin-bottom: 20px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
  .cog-button {
    font-size: 16px;
    padding: 20px 35px;
  }
}